.app {
  text-align: center;
}

body{
  background-color: #000000d7;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

span{
  margin: 30px;
  font-size: 20px;
}

button{
  width: 150px;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
}

input{
  width: 300px;
  height: 20px;
}

input{
  margin: 20px;
}